/**
 * Browsers update
 * @description: Layout page to browsers update
 */


/* Base
---------------------------------------------------------------*/

html {
	-webkit-font-smoothing: antialiased;
}

body {
	background: #f7f7f7;
}

.browsers-title {
	display: none;
}

.browsers-list {
	text-align: center;
	margin-top: 50px;
}

.browsers-list li {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FFF;
	border-radius: 5px;
	border: solid 1px #CCC;
	display: inline-block;
	text-align: center;
	width: 90%;
}

.browsers-list li .icon {
	background: url(sprite.png) no-repeat;
	height: 115px;
	margin: auto;
	width: 100px;
}

.browsers-list li#chrome .icon {
	background-position: 0 0;
}

.browsers-list li#firefox .icon {
	background-position: -100px 0;
}

.browsers-list li#opera .icon {
	background-position: -200px 0;
}

.browsers-list li#safari .icon {
	background-position: -305px 0;
}

.browsers-list li#ie .icon {
	background-position: -400px 0;
}

.browsers-list li h2 {
	font-size: 1.3em;
	font-size: 1.4vw;
}

.browsers-list li:hover, .browsers-list li:hover .icon {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.browsers-list li:hover {
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
}

.browsers-list li a:link,
.browsers-list li a:visited {
	padding: 30px 10px 10px;
	display: block;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}