/**
 * Browsers update large devices
 * @description: Layout page to browsers update
 */

 .browsers-title {
 	display: block;
	text-align: center;
	margin: 30px;
}

.browsers-list li {
	width: 15%;
	margin: 0 10px;
}

